/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #4f46e5;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #fbbf24;
}
